@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.visible {
  display: flex;
}

.app {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", "Courier New", Courier, monospace;
  font-size: 16px;
}

ul li {
  list-style-type: none;
}

.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.product__img {
  width: 150px;
  height: 150px;
  object-fit: scale-down;
}

.button {
  padding: 5px;
  cursor: pointer;
}

.product__increase-quantity {
  width: 30px;
}

.product__decrease-quantity {
  width: 30px;
}

.product__description {
  width: 15%;
}

.product__add-to-cart {
  width: 100px;
}

.product__remove-from-cart {
  width: 100px;
}

.danger-text {
  font-weight: bold;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cart__info {
  margin-right: 10px;
  font-size: 18px;
}

.cart__clear {
  width: 100px;
}

.modal {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.modal__container {
  width: 100vw;
  background-color: #eeeeee87;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 2;
}

.modal__img-prev {
  width: 100px;
  height: 100px;
  cursor: pointer;
  border: none;
  background: #3e3e3e;
  color: #fff;
  font-size: 26px;
}

.modal__img-next {
  width: 100px;
  height: 100px;
  cursor: pointer;
  border: none;
  background: #3e3e3e;
  color: #fff;
  font-size: 26px;
}

.modal-image {
  margin: auto;
}

.modal__img-preview {
  align-items: center;
  width: 100%;
}

.modal__close {
  position: fixed;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 18px;
  background-color: #3e3e3e;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
